@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.m-5-auto {
  margin: 5rem auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  border: 1px solid #ddd;
  border-radius: 2vmax;
  padding: 2rem;
  margin: 2rem 1rem;

  padding-top: 3vmax;

}

.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;

}

.input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 1.5rem;
}

.submit {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.submit:hover {
  background: skyblue;
  color: black;
  transition: all 0.5s;
}

.term {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}


footer {
  margin-top: 2rem;
}

footer a {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: skyblue;
}

.signin{
  width: fit-content;
  padding-left: 8vmax;
  padding-right: 8vmax;
  margin-left: 25vmax;
}